body,
html {
  background: black;
  font-family: "Courier New", Courier, monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #a1a1a189;
  margin: 1em 0;
  margin-top: 0.5em;
  padding: 0;
}

.terminal {
  width: 100%;
  height: calc(100% - 50px - 2em);
}

.title {
  font-size: 1.4em;
  color: white;
}

.status {
  position: absolute;
  color: white;
  margin-right: 10px;
  right: 0;
}

#status > span {
  color: #1a1a1a;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.connected {
  background-color: greenyellow;
}

.disconnected {
  background-color: #ff8383;
}

.log {
  padding-top: 0.5rem;
  width: 7rem;
  height: 1.75rem;
  background: greenyellow;
  text-align: center;
  margin-left: 2rem;
  display: none;
  cursor: pointer;
}

a {
  color: initial !important;
  outline: none;
  text-decoration: none;
}

.close {
  padding: 10px;
  margin-right:5px;
  height: inherit;
  background-color: #1f1f1f;
  color: white;
}

#create-tab, .tab {
  color: white;
  background: #1f1f1f;
  padding: 10px;
  transition: .2s;
  margin: 0 1px;
}

#create-tab:hover {
  background: #333333;
  cursor: pointer;
}

.closed-tab {
  color:white;
  background-color: linear-gradient(rgb(112, 11, 0),rgb(211, 32, 0));
  padding: 10px;
  transition: 0.2s;
  margin: 0 1px;
}


.tab.active {
  background: greenyellow;
  color:black;
}

.tab:focus {
  background:goldenrod;
  outline: greenyellow;
}