body,
html {
  background: black;
  font-family: "Courier New", Courier, monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #a1a1a189;
  margin: 1em 0;
  margin-top: 0.5em;
  padding: 0;
}

.terminal {
  width: 100%;
  height: calc(100% - 50px - 2em);
}

.title {
  font-size: 1.4em;
  color: white;
}

.status {
  position: absolute;
  color: white;
  margin-right: 10px;
  right: 0;
}

#status > span {
  color: #1a1a1a;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.connected {
  background-color: greenyellow;
}

.disconnected {
  background-color: #ff8383;
}


#create-tab, .tab {
  color: white;
  background: #1f1f1f;
  padding: 10px;
  transition: .2s;
  margin: 0 1px;
}

#create-tab:hover {
  background: #333333;
  cursor: pointer;
}

/* .tab:active {
  background-color: greenyellow;
} */