body,
html {
  background: black;
  font-family: "Courier New", Courier, monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #a1a1a189;
  margin: 1em 0;
  margin-top: 0.5em;
  padding: 0;
}

.terminal {
  width: 100%;
  height: calc(100% - 50px - 2em);
}

.title {
  font-size: 1.4em;
  color: white;
}

.status {
  position: absolute;
  color: white;
  margin-right: 10px;
  right: 0;
}

#status > span {
  color: #1a1a1a;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.connected {
  background-color: greenyellow;
}

.disconnected {
  background-color: #ff8383;
}

.log {
  padding-top: 0.5rem;
  width: 7rem;
  height: 1.75rem;
  background: greenyellow;
  text-align: center;
  margin-left: 2rem;
  display: none;
  cursor: pointer;
}

a {
  color: initial !important;
  outline: none;
  text-decoration: none;
}

.close {
  padding: 10px;
  margin-right:5px;
  height: inherit;
  background-color: #1f1f1f;
  color: white;
  cursor: pointer;
}

#create-tab, .tab {
  color: white;
  background: #1f1f1f;
  padding: 10px;
  transition: .2s;
  margin: 0 1px;
}

#create-tab:hover {
  background: #333333;
  cursor: pointer;
}

.closed-tab {
  color:white;
  background-color: linear-gradient(rgb(112, 11, 0),rgb(211, 32, 0));
  padding: 10px;
  transition: 0.2s;
  margin: 0 1px;
}

.tab:hover {
  cursor: pointer;
}

.tab.active {
  background: greenyellow;
  color:black;
}

.tab.active:focus {
  background:goldenrod;
  outline: greenyellow;
  cursor: text;
}

/*** Login ***/

/* Form */
.form {
  position: relative;
  z-index: 1;
  background: #1a1a1a;
  max-width: 300px;
  padding: 30px;
  text-align: center;
}

.form .thumbnail {
  background: rgb(203, 244, 92);
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 30px;
  border-radius: 100%;
  box-sizing: border-box;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: rgb(203, 244, 92);
  color: #1a1a1a;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #EF3B3A;
  text-decoration: none;
}

.login {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form * {
  font-family: 'Courier New', Courier, monospace;
}

/* END Form */